.card {
  width: 12rem;
  height: 115px;
  background: white;
  border: 5px solid #4a61a8;
  border-radius: 16px;
  margin: 11px 8px;
  padding: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.card h6 {
  font-size: small;
  margin: 0px;
}

.card img {
  width: 29px;
  height: 32px;
}
